.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-container svg {
  fill: var(--text);
  transition: 0.15s ease-in-out opacity;
  cursor: pointer;
}
.icon-container svg:hover {
  opacity: 0.7;
}
