.empty-bank-modal {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty-bank-modal h2 {
    font-size: 2rem;
}


.player-round-results {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.player-round-results li {
    list-style: none;
    display: flex;

    align-items: center;
}

.player-round-results p {
    margin: 0 .1rem;
}