.exit-table-modal {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exit-table-modal h2 {
    font-size: 2rem;
}