.stats-modal-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stats-modal-container li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    /* white-space: nowrap; */
}
.stats-modal-container h3,
.stats-modal-container h4,
.stats-modal-container ul {
    margin: 0;
}
.stats-modal-container h3 {
    font-size: 1.5rem;
}
.stats-modal-container h4 {
    margin: .5rem 0;
    font-size: 1rem;
}
.stats-modal-container .exit-table-icon {
    margin-top: .2rem;
    margin-right: .5rem;
}
.stats-modal-container .exit-table-icon svg {
    width: 20px;
    fill: var(--mainBackground);
}
.stats-modal-container .game-btn {
    margin-top: .8rem;
}
.full-screen-container {
    margin-top: 1rem;
}
.full-screen-container, .full-screen-container div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.full-screen-container div {
    cursor: pointer;
    transition: .15s ease-in-out opacity;
}
.full-screen-container div:hover {
    opacity: .4;
}


@media screen and (min-width: 550px) {
    .stats-modal-container li {
        font-size: 1rem;
    }
    .stats-modal-container h3 {
        font-size: 2rem;
    }
    .stats-modal-container h4 {
        margin: .5rem 0;
        font-size: 1.3rem;
    }
}

