.wrapper li,
.wrapper ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper li {
  list-style-type: none;
  /* border: var(--text) solid 1px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper p {
  font-size: 1rem;
  text-align: center;
}
.wrapper button {
  margin-top: 1rem;
}
