 button{
     padding: .5rem 1.5rem;
     color: var(--text);
     border: var(--text) solid 1px;
     background-color: var(--background);
     cursor: pointer;
     transition: .15s ease-in-out all;
     font-size: 1rem;
     border-radius: 5px;
 }

 button a {
    color: var(--text);
    text-decoration: none;
    transition: .15s ease-in-out all;
}

 button:hover,
 button:hover a {
     color: var(--background);
     background-color: var(--text);
 }
