.player-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: red solid 1px; */
    position: absolute;
    left: 0;
    top: 0;
}

.player-table h5,
.player-table h4 {
    padding: 0;
}

.player-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.split-card-preview {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.split-card-preview img {
width: 50px;
}