.curr-hand {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content; /* Adjusts container width to fit content */
    margin: 0 auto;
}

.player-card {
    flex: 1;
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 0 .3rem;
}

.player-card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    width: 130px;
}

.player-table .curr-hand .player-card {
    animation: animatePlayerCard .5s ease-in-out forwards;
}

.dealer-table .curr-hand .player-card {
    animation: animateDealerCard .5s ease-in-out forwards;
}

@keyframes animatePlayerCard {
    from {
        opacity: 0;
        transform: translateY(-550px) translateX(+450px) scale(0) rotate(0deg);
    }

    to {
        opacity: 1;
        transform: translateY(0) translateX(0) scale(1) rotate(360deg);
    }
}

@keyframes animateDealerCard {
    from {
        opacity: 0;
        transform: translateY(-150px) translateX(+600px) scale(0) rotate(0deg);
    }

    to {
        opacity: 1;
        transform: translateY(0) translateX(0) scale(1) rotate(360deg);
    }
}
