.header-btn-container {
    position: absolute;
    top: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.header-btn-container h2 {
    font-size: 2rem;
}
