.dealer-hand {
    
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.dealer-cards {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .dealer-hand .player-card:nth-of-type(2) {
display: none;
} */

.dealer-hand .hidden-card {
    max-width: 130px;
    border-radius: 5px;
    position: absolute;
    top: .2rem;
    left: .2rem;
}
.hide-card {
    display: none;
}

.dealer-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dealer-sum {
    opacity: 0;
    transition: opacity 0.5s ease; /* You can adjust the duration and timing function */
}

.dealer-sum.revealed {
    opacity: 1;
}