.game-menu {
    height: 7vh;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    background-color: var(--background);
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* padding: .7rem; */
}

.menu-icons {
    display: flex;
}

.game-menu svg {
    font-size: 2rem;
}

@font-face {
    font-family: 'CustomFont';
    src: url('/Bouncy.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.game-menu h2,
.game-menu h3 {
    letter-spacing: 3px;
    font-size: 1.7rem;
}

.game-menu h2 {
    font-family: 'CustomFont', sans-serif;
}

@media screen and (min-width: 550px) {

    .game-menu h2,
    .game-menu h3 {
        letter-spacing: 3px;
        font-size: 2.8rem;
    }

    .game-menu svg {
        font-size: 3rem;
    }
}