.game-menu {
    height: 7vh;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
background-color: var(--background);
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* padding: .5rem 5rem 0 5rem; */
}

.menu-icons {
    display: flex;
}

.game-menu svg {
    font-size: 2rem;
}

@font-face {
    font-family: 'CustomFont';
    src: url('/Bouncy.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.game-menu h2,
.game-menu h3 {
    letter-spacing: 3px;
    font-size: 2rem;
}

.game-menu h2 {
    font-family: 'CustomFont', sans-serif;
}