.game-menu {

    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container svg {
    fill: var(--text);
    transition: .15s ease-in-out opacity;
    cursor: pointer;

}

.icon-container svg:hover {
    opacity: .7;
}