.table {
    width: 80%;
    height: 80vh;
    border: var(--text) solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.play-round h4 {
    font-size: 2em;
}

.dealer-table,
.player-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    position: relative;

}

.player-table {
    border-top: var(--text) solid 2px;
}



.curr-hand {
    border: red solid 1px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    /* height: 100%; */
}

.curr-hand .player-card {
    /* border: green solid 1px; */
    /* max-width: 230px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .2rem;
}

.curr-hand img {
    max-width: 130px;
}