.table {
    width: 80%;
    height: 80vh;
    border: var(--text) solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.icons svg {
    fill: white;

}

.play-round h4 {
    font-size: 2em;
}

.dealer-table,
.player-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    position: relative;

}

.player-table {
    border-top: var(--text) solid 2px;
}

.player-table svg {
    width: 5rem;
    height: 5rem;
}

.player-table .icon-wrapper {
    position: absolute;
    display: flex;
border: yellow solid 1px;
    right: 0;
    top: 0;

}



.icon-wrapper .icon-container {
position: relative;
top: .3rem;
}

.draw-cards-icon,
.player-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.exit-table-icon {
    position: absolute;
    bottom: -1rem;
    left: .5rem;
}

.exit-table-icon svg {
 width: 40px;
}
.draw-cards-icon {
    position: absolute;
    bottom: -.3rem;
    right: -.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.plus-icon svg {
    width: 20px;
    height: 20px;
}
.plus-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .double-btn {
    position: relative;
    right: 4rem;
    top: 1rem;
} */


.curr-hand {
    /* border: red solid 1px; */

    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    /* height: 100%; */
}

.curr-hand .player-card {
    /* border: green solid 1px; */
    /* max-width: 230px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .2rem;
}

.curr-hand img {
    max-width: 130px;
}

.end-turn-modal {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.end-turn-modal h2 {
    font-size: 2rem;
}

.end-turn-stats {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin: .2rem .7rem .7rem .7rem ;
}

.stay-btn {
    position: absolute;
    top: .2em;
    right: .5rem;
}

.current-options {
    position: absolute;
    top: 0rem;
    display: flex;
    justify-content: center;
   
}

.current-options button {
    margin: .2rem;
}


