.table {
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
    /* height: 85vh; */
    border: var(--text) solid 2px;
    background-color: var(--table-background);
    border-radius: 5px;
   
}
.icons svg {
    fill: white;
}
.play-round h4 {
    font-size: 2em;
}
.dealer-table,
.player-table {
    height: 50%;
    width: 100%;
    position: relative;
}
.player-table {
    border-top: var(--text) solid 2px;
    padding-top: 3rem;
}
.player-table svg {
    height: 5rem;
    
}
.player-table .icon-wrapper {
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
}
.icon-wrapper .icon-container {
    position: relative;
    top: .3rem;
}
.draw-cards-icon,
.player-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.draw-cards-icon {
    position: absolute;
    bottom: -1rem;
    right: -.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.plus-icon svg {
    width: 20px;
    height: 20px;
}
.plus-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .double-btn {
    position: relative;
    right: 4rem;
    top: 1rem;
} */
.end-turn-modal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.end-turn-modal h2 {
    font-size: 2rem;
}
.end-turn-stats {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin: .2rem .7rem .7rem .7rem;
}
.hidden-btn {
    display: none;
}
.stand-btn {
    position: absolute;
    top: .2em;
    right: .5rem;
}
.current-options {
    width: 100%;
    position: absolute;
    top: 0rem;
    display: flex;
    justify-content: center;
    justify-content: center;
}
.current-options button {
    margin: .2rem;
}