.player-results-table {
  height: 50%;
  width: 100%;
  position: relative;
  border-top: var(--text) solid 2px;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
}

.player-results-table h4 {
  font-size: 0.9rem;
}

.player-hand-results {
  /* width: fit-content; */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-top: 2rem; */
  height: 85%;
  margin-top: auto;
  padding: 1rem 0;
}

@media screen and (min-width: 500px) and (max-height: 600px) {
  .player-hand-results {
    overflow-y: auto;
  }
}

.player-hand {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0.2rem 0.5rem;
  border: transparent solid 1px;
  border-radius: 10px;
  transition: border 0.3s ease;
  /* Added transition property */
  margin-bottom: 0.3rem;
  /* overflow-x: auto; */
}

.player-hand h4 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: -1.5rem;
  /* min-width: 300px; */
}

.emphasize {
  border: var(--text) solid 1px;
}

.emphasize-win {
  border: var(--blackjack) solid 1px;
}

.emphasize-lose {
  border: var(--bust) solid 1px;
}

.emphasize-lose {
  border: var(--bust) solid 1px;
}

.emphasize-push {
  border: var(--neutral) solid 1px;
}

.icons svg {
  fill: white;
}

.player-results-table p {
  line-height: 10px;
  font-size: 0.6rem;
  white-space: no-wrap;
  text-align: start;
}

.curr-player-hand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.curr-player-hand .playing-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem;
}

.curr-player-hand img {
  max-width: 70px;
}

.insurance-msg {
  transition: all 1s ease;
}

.insurance-msg.revealed {
  opacity: 1;
}

.player-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-hand-icon {
  margin-right: 0.4rem;
}
.split-hand-icon {
  margin-left: 0.4rem;
}

.player-hand-results .exit-table-icon {
  width: 20px;
}

@media screen and (min-width: 768px) {
  .curr-player-hand img {
    max-width: 80px;
  }
  .player-results-table p {
    line-height: 14px;
    font-size: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .curr-player-hand img {
    max-width: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .curr-player-hand img {
    max-width: 80px;
  }
}

@media screen and (min-width: 1500px) {
  .curr-player-hand img {
    max-width: 95px;
  }
}

@media screen and (max-height: 600px) {
  .curr-player-hand img {
    max-width: 40px;
  }
  .player-hand {
    top: 1.5rem;
    justify-content: start;
  }
}
