

.intro-content {
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    border-radius: 7px;
    margin: 0 2rem;
    border: var(--text) solid 2px;
    -webkit-box-shadow: 0px 0px 8px 4px rgba(0,0,0,.5); 
    box-shadow: 0px 0px 8px 4px rgba(0,0,0,.5);
    z-index: 2;
}

.intro-content h1 {
    font-size: 2.5rem;
    text-align: center;
    line-height: 3rem;
    margin-bottom: 1rem;
}